button{
  background-color: red;
  color: white;
}

// p{
//   font-size: 20px;
//   border: orange 1px solid;
// }
.directive-style{
  padding: 10px;
  font-size: 20px;
  border: solid 1px purple;
}
